
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');



/*#ID_title{
	left: -120px !important;
}
#ID_router_txt1{
	overflow-y:scroll;
	height: 264px;
	padding-top:5px;
}*/