
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');



#ID_s1_txt01 div { letter-spacing:-0.4px; line-height:11px !important;}
#ID_s1_txt02 { line-height:13px;}
#ID_s2_txt01 {}
#ID_s3_txt01 {letter-spacing: -0.4px;
    line-height: 14px;}


#space{
	margin-left: 33px !important;
}
#ID_s01_txt01{
	line-height: 13px!important;
}
#ID_s1_txt01{
	line-height: 14px!important;
}


@media only screen and (device-width: 768px) {
#ID_s01_txt01{
margin-left: -4px !important;
line-height: 11.5px !important;
}
#ID_static_11, #ID_static_13, #ID_static_27, #ID_static_29, #ID_static_43, #ID_static_45, #ID_static_59, #ID_static_61{
	letter-spacing:-0.8px !important;
	}
}