
@import url('../../../common/styles/media2.css');




 #ID_txt07{
 	 color: #9F5824 !important;
 	 font-size: 14px !important;
 	 font-weight: bold !important;
 }

#ID_txt08{
 	 color: #582A73 !important;
 	 font-size: 14px !important;
 	 font-weight: bold !important;
 }

#ID_txt09{
 	 color: #A5152E !important;
 	 font-size: 14px !important;
 	 font-weight: bold !important;
 }


 #ID_txt10{
 	 color: #386B33 !important;
 	 font-size: 14px !important;
 	 font-weight: bold !important;
 }

