
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

/*
#canvas, #mediaContainer {
	margin-left: 90px;
	
} 


#ID_title{
 width:470px !important;
  margin: auto;
}

#flashContent {
    width: 470px !important;
    height: 400px !important;
	margin: auto;
	
}
*/