
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');


/*#ID_txt06{letter-spacing:-0.5px !important;}

#ID_txt21{
background-color:#ffffff;
}

#ID_txt20 {
    line-height: 8px;
}*/