
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}

#ID_txt01,#ID_txt02,#ID_txt03,#ID_txt04,#ID_txt05,#ID_txt06{font-weight:bold !important;}
#ID_txt01{ background-color: #fff;}
#ID_txt11, #ID_txt17{
	word-wrap:break-word;
	letter-spacing: -0.8px !important;
}

@media only screen and (device-width: 768px) {
#ID_txt11{
	word-wrap:break-word;
	letter-spacing: -0.8px !important;
}

}