
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#canvas, #mediaContainer {
	margin-left: 105px;
	margin-top: 35px;
} 

#ID_title { 
	margin-left:0 !important; 
	width: 470px !important; 
	margin-top: -33px !important;
}

p{
	margin:0px;
}
#ID_txt13{
	line-height: 11.5px;
}