
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
}
#flashContent {
	width:98%;
	height:98%;
}
font[size='11']{
	font-size: 11px;
}

#ID_title{
	font-size: 13px!important;
	margin-left:-120px;
}

#textBoxCanvas {
    margin-top: 35px;
    background: none !important;
}
#ID_bodyTxt {
    margin-top: 80px;
}