
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

#ID_static_3{letter-spacing:1.5px;}
#ID_static_1{letter-spacing:1.5px;}
@media only screen and (device-width: 768px) {

#ID_router_txt1,#ID_router_txt2{letter-spacing:0.46px;}
}
#ID_s2_title{
width:450px !important;
font-size:15px !important;
}
#ID_static_1,#ID_static_2,#ID_static_3{
letter-spacing:0px !important;
font-weight:bold;
}
#ID_router_txt1,#ID_static_4{
font-weight:bold;
}