
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');
#canvas, #mediaContainer {
	margin-left: 105px;
	margin-top:45px;
} 

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}