
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');
/*#ID_txt12,#ID_txt15,#ID_txt16
{
	background-color: #067EB2 !important;
	border-color: #067EB2 !important;
}

#ID_txt13,#ID_txt14,#ID_txt17
{
	background-color: #CB6D25 !important;
	border-color: #CB6D25 !important;
}
*/
