
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');





#ID_txt03{
  background-color: #393536;
  padding: 5px 0 5px 6px;
  border-radius: 5px;
}
