
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');


.seagreenbox{
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:4px;
	background:#CCE9E7;
}
.orangebox{
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:4px;
	background:#FFF3B9;
}
.greybox{
	border:#BDBBBC 3px solid;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:4px;
}
.greenbox{
	border:#40ACAA 3px solid;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:2px;
}
#ID_txt01{
	background-color: #ffffff;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 8px;
	border: 2px solid #D3d1d2
}

#ID_txt02{
	background-color: #652C8A;
	padding-top: 4px;
	padding-bottom: 4px;
}
#ID_txt03{
	background-color: #077A77;
	padding-top: 4px;
	padding-bottom: 4px;
}
#ID_txt04{
	background-color: #7C6D34;
	padding-top: 4px;
	padding-bottom: 4px;
}