
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

#ID_txt07,#ID_txt08{
	background-color: #393536;
	padding-bottom: 3px !important;
	padding-top:3px !important;
}


#ID_txt05,#ID_txt10{
	background-color: #E0D5E6;
	border: 2px solid #652C8A;
	border-radius:5px;
	padding-bottom: 6px !important;
	padding-top:6px !important;
}

#ID_txt02,#ID_txt03,#ID_txt09{
	padding-bottom: 5px !important;
	padding-top:5px !important;
}